Repository giraldeau/MCAC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, cppcheck, mypy, flake8, pylint, isort, black, pymcac_tests

.gitlab/MCAC.yml:

build-Debug:
  stage: Build
  script:
    - pwd
    - ls -l
    - mkdir build
    - cd build
    - cmake -DWITH_SBL=OFF -DCMAKE_BUILD_TYPE=Debug -DDEBUG_MCAC=ON -DWITH_PYTHON=OFF .. 
    - make -j
  artifacts:
    paths:
      - bin/Debug/MCAC
      - ext_bin

build-Release:
  stage: Build
  script:
    - pwd
    - ls -l
    - mkdir build
    - cd build
    - cmake -DWITH_SBL=OFF -DCMAKE_BUILD_TYPE=Release -DDEBUG_MCAC=ON -DWITH_PYTHON=OFF ..
    - make -j
  artifacts:
    paths:
      - bin/Release/MCAC
      - ext_bin

cpplint:
  stage: Static Analysis
  script:
    - apt update
    - apt-get install -y cpplint
    - cpplint --recursive src include
  only:
    changes:
      - src/**/*
      - include/**/*
  needs: []


cppcheck:
  stage: Static Analysis
  script:
    - apt update
    - apt-get install -y cppcheck
    - cppcheck --enable=all --inconclusive -I include src
  only:
    changes:
      - src/**/*
      - include/**/*
  needs: []


# clang-check clang-format

.gitlab/pyMCAC.yml:

.python_init: &python_init
  - pwd
  - ls -l
  - python3 -V               # Print out python version for debugging
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install -r requirements.txt
  - pip install .

mypy:
  stage: Static Analysis
  script:
    - *python_init
    - pip install mypy
    - mypy
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

flake8:
  stage: Static Analysis
  script:
    - *python_init
    - pip install flake8
    - flake8
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

pylint:
  stage: Static Analysis
  #allow_failure: true
  script:
    - *python_init
    - pip install pylint
    - pylint -d C0301 bild/*.py
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

isort:
  stage: Static Analysis
  #allow_failure: true
  script:
    - *python_init
    - pip install isort
    - isort .
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

black:
  stage: Static Analysis
  #allow_failure: true
  script:
    - *python_init
    - pip install black
    - black .
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

pymcac_tests:
  stage: Test
  script:
    - *python_init
    - pip install pytest
    - export PYTHONPATH="$PYTHONPATH:."
    - python -c "import sys;print(sys.path)"
    - pytest
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

Show if dynamic maturity is considered or not.
  include/aggregats/aggregat.hpp
  src/aggregats/aggregat.cpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Stop the code when density goes out of physical limits.
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

Units of the diameter are consistent with the expression used.
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

fix examples/Analyze.ipynb after a matplotlib update
  examples/Analyze.ipynb
Due: none

fix pymcac coverage computation
  pymcac/tools/coverage/coverages_cython.pyx
Due: mypy, flake8, pylint, isort, black, pymcac_tests

fix pymcac autocorrelation example
  pymcac/tools/autocorrelation/autocorrelation3d.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

update pymcac sbl wrapper
  pymcac/tools/volume_surface/SBLVolumeSurface.cpp
Due: mypy, flake8, pylint, isort, black, pymcac_tests

discretization should return a binarised array
  pymcac/tools/discretize/discretize.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

pymcac : sbl crash does not crash pymcac anymore
  pymcac/tools/volume_surface/volume_surface.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

pymcac fix volume_surface computation when sbl was not present
  pymcac/tools/discretize/__init__.py
  pymcac/tools/volume_surface/volume_surface.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

update CGAL version and add boost dependency
  CMakeLists.txt
  README.md
  src/CMakeLists.txt
Due: cpplint, cppcheck

add wheel in the pymcac venv
  cmake/PyMCAC.cmake
  setup.py
Due: none

fix cython directive
  pymcac/tools/coverage/coverages_cython.pyx
Due: mypy, flake8, pylint, isort, black, pymcac_tests

removing the CGAL library from setup.py
  setup.py
Due: none

Update README.md
  README.md
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

A solution to memory problems due to deleting aggregates by oxidation.
  src/calcul.cpp
Due: cpplint, cppcheck

Domain duplication should not arrive when there is oxidation.
  src/calcul.cpp
Due: cpplint, cppcheck

Soot maturity constants are added.
  include/constants.hpp
Due: cpplint, cppcheck

New functions to consider soot maturity are included.
  include/aggregats/aggregat.hpp
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

Carbon hydrogen ratio is included as a new property of aggregates.
  include/aggregats/aggregat.hpp
  src/aggregats/aggregat.cpp
  src/aggregats/aggregat_storage.cpp
Due: cpplint, cppcheck

Avoids pointer problem.
  include/constants.hpp
  src/aggregats/aggregat_storage.cpp
Due: cpplint, cppcheck

Added a binary to activate duplication of domain.
  include/physical_model/physical_model.hpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

change the master branch into main branch for the GSL dependency
  CMakeLists.txt
Due: none

Results (more precisely: events) can be saved with a given frequency.
  include/physical_model/physical_model.hpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Advancement save new properties. Monomers number concentration is now included in physical model.
  include/physical_model/physical_model.hpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Write events with a given frequency.
  src/calcul.cpp
Due: cpplint, cppcheck
