Repository giraldeau/MCAC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, cppcheck, mypy, flake8, pylint, isort, black, pymcac_tests, cmake-format, cmake-lint, shell check, shfmt

Path conditions:
  cpplint: (any of: src/**/*, include/**/*) or (any of: src/**/*, include/**/*, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  cppcheck: (any of: src/**/*, include/**/*) or (any of: src/**/*, include/**/*, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  mypy: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  flake8: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  pylint: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  isort: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  black: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  pymcac_tests: (any of: pymcac/**/*) or (any of: pymcac/**/*, .gitlab/test.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  cmake-format: any of: cmake/**/*.cmake, CMakeLists.txt, .gitlab/static.yml, .gitlab-ci.yml
  cmake-lint: any of: cmake/**/*.cmake, CMakeLists.txt, .gitlab/static.yml, .gitlab-ci.yml
  shell check: any of: utilities/**/*.sh, .gitlab/static.yml, .gitlab-ci.yml
  shfmt: any of: utilities/**/*.sh, .gitlab/static.yml, .gitlab-ci.yml

linter
  pymcac/reader/mcac_reader.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

allow pflake8 to fail
  .gitlab/static.yml
Due: cpplint, cppcheck, mypy, flake8, pylint, isort, black, cmake-format, cmake-lint, shell check, shfmt

allow intel to fail
  .gitlab/MCAC.yml
Due: none

fix mypy for gitlab-ci
  setup.cfg
Due: none

fix the reader for dataframe output
  pymcac/reader/mcac_reader.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

fix analyse for newer pymcac
  validation/Analyze.ipynb
Due: none

updates for ipynb
  validation/Analyze.ipynb
  validation/Surface_growth.ipynb
  validation/brownian.ipynb
  validation/no_surface_reaction.ipynb
Due: none

`groupby_agg` and `groupby_apply` returns datasets more frequently
  pymcac/tests/test_groupby.py
  pymcac/tools/core/dataframe.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

parallel pytests
  pyproject.toml
  requirements.txt
Due: cpplint, cppcheck, mypy, flake8, pylint, isort, black, pymcac_tests

cleaning
  examples/Analyze.ipynb
  pymcac/__init__.py
  pymcac/plot/projection.py
  pymcac/plot/volumic.py
  pymcac/reader/h5_reader.py
  pymcac/reader/mcac_reader.py
  pymcac/tests/test_dask.py
  pymcac/tests/test_data.py
  pymcac/tests/test_groupby.py
  pymcac/tests/test_read.py
  pymcac/tools/autocorrelation/autocorrelation3d.py
  pymcac/tools/core/dask_tools.py
  pymcac/tools/core/dataframe.py
  pymcac/tools/core/groupby.py
  pymcac/tools/core/sorting.py
  pymcac/tools/coverage/_coverages.py
  pymcac/tools/coverage/coverages_cython.pyx
  pymcac/tools/discretize/_discretize.py
  pymcac/tools/inertia/_inertia.py
  pymcac/tools/physics/mobility_diameter.py
  pymcac/tools/physics/overlap.py
  pymcac/writer/ddscat.py
  requirements.txt
  validation/Analyze.ipynb
  validation/Surface_growth.ipynb
  validation/brownian.ipynb
  validation/no_surface_reaction.ipynb
Due: mypy, flake8, pylint, isort, black, pymcac_tests

update docker
  .docker/Dockerfile.gfortran
  .docker/Dockerfile.intel
  .docker/Dockerfile.local
  .dockerignore
  requirements-intel.txt
  utilities/test_in_docker.sh
  utilities/update_docker.sh
Due: cpplint, cppcheck, mypy, flake8, pylint, isort, black, pymcac_tests, shell check, shfmt

update docker (forgotten file)
  .gitlab/MCAC.yml
Due: none

install pymcac in gitlab-ci for pytest
  .gitlab/tests.yml
Due: none

temporary fix for pointer dereference in case of split and/or oxydation (only for individual_surf_reactions)
  src/calcul.cpp
Due: cpplint, cppcheck

Prevent memory issues during oxidation.
  src/aggregats/aggregat.cpp
  src/calcul.cpp
Due: cpplint, cppcheck

Prevent memory issues during oxidation.
  src/calcul.cpp
Due: cpplint, cppcheck

Prevent memory issues during oxidation - Dynamic loop.
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

better loop logic for `croissance_surface`
  src/aggregats/aggregat.cpp
  src/aggregats/aggregat_list.cpp
Due: cpplint, cppcheck

Better logic around aggregate updates
  src/aggregats/aggregat_list.cpp
  src/calcul.cpp
Due: cpplint, cppcheck

Be more specific for merge and oxydation
  src/calcul.cpp
Due: cpplint, cppcheck

Shows initial time of coupling.
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

merge jose_reb2 (broken)
  CMakeLists.txt
  include/aggregats/aggregat.hpp
  include/constants.hpp
  include/physical_model/physical_model.hpp
  src/aggregats/aggregat.cpp
  src/aggregats/aggregat_list.cpp
  src/aggregats/aggregat_list_storage.cpp
  src/aggregats/aggregat_storage.cpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck, cmake-format, cmake-lint

merge master (fixed)
  include/aggregats/aggregat.hpp
  include/physical_model/physical_model.hpp
  src/aggregats/aggregat.cpp
  src/aggregats/aggregat_list.cpp
  src/aggregats/aggregat_list_storage.cpp
  src/aggregats/aggregat_storage.cpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

fix ending condition
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

move _CONTACT_EPSILON and _COORDINATION_EPSILON into constants.hpp
  include/constants.hpp
  src/aggregats/aggregat.cpp
  src/aggregats/aggregat_list.cpp
  src/sbl/volume_surface.cpp
  src/spheres/sphere_distances.cpp
Due: cpplint, cppcheck

Added a parameter used to determine alpha_v and alpha_s.
  include/aggregats/aggregat.hpp
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

Added a parameter controling extreme values of alpha_v and alpha_s.
  src/aggregats/aggregat.cpp
  src/aggregats/aggregat_storage.cpp
Due: cpplint, cppcheck

Added a warning for update frequency parameter
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Added a parameter controling extreme values of alpha_v and alpha_s.
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

update advancement_reader after update in MCAC
  pymcac/reader/advancement_reader.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

Warning for full update frequency parameter
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Corrected copy values of alpha_vs_extreme.
  src/aggregats/aggregat_storage.cpp
Due: cpplint, cppcheck

cmake linter
  CMakeLists.txt
Due: cmake-format, cmake-lint

Bulk density check should be done only when considering maturity.
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

Update tests.yml for coverage badge
  .gitlab/tests.yml
Due: none

Update tests.yml
  .gitlab/tests.yml
Due: none

Total surface area is now available in Aggregat List.
  include/aggregats/aggregat_list.hpp
  src/aggregats/aggregat_list.cpp
Due: cpplint, cppcheck

Total surface area/volume introduced.
  include/physical_model/physical_model.hpp
Due: cpplint, cppcheck
