Repository giraldeau/MCAC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, cppcheck, mypy, flake8, pylint, isort, black, pymcac_tests

.gitlab/MCAC.yml:

build-Debug:
  stage: Build
  script:
    - pwd
    - ls -l
    - mkdir build
    - cd build
    - cmake -DWITH_SBL=OFF -DCMAKE_BUILD_TYPE=Debug -DDEBUG_MCAC=ON -DWITH_PYTHON=OFF .. 
    - make -j
  artifacts:
    paths:
      - bin/Debug/MCAC
      - ext_bin

build-Release:
  stage: Build
  script:
    - pwd
    - ls -l
    - mkdir build
    - cd build
    - cmake -DWITH_SBL=OFF -DCMAKE_BUILD_TYPE=Release -DDEBUG_MCAC=ON -DWITH_PYTHON=OFF ..
    - make -j
  artifacts:
    paths:
      - bin/Release/MCAC
      - ext_bin

cpplint:
  stage: Static Analysis
  script:
    - apt update
    - apt-get install -y cpplint
    - cpplint --recursive src include
  only:
    changes:
      - src/**/*
      - include/**/*
  needs: []


cppcheck:
  stage: Static Analysis
  script:
    - apt update
    - apt-get install -y cppcheck
    - cppcheck --enable=all --inconclusive -I include src
  only:
    changes:
      - src/**/*
      - include/**/*
  needs: []


# clang-check clang-format

.gitlab/pyMCAC.yml:

.python_init: &python_init
  - pwd
  - ls -l
  - python3 -V               # Print out python version for debugging
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install -r requirements.txt
  - pip install .

mypy:
  stage: Static Analysis
  script:
    - *python_init
    - pip install mypy
    - mypy
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

flake8:
  stage: Static Analysis
  script:
    - *python_init
    - pip install flake8
    - flake8
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

pylint:
  stage: Static Analysis
  #allow_failure: true
  script:
    - *python_init
    - pip install pylint
    - pylint -d C0301 bild/*.py
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

isort:
  stage: Static Analysis
  #allow_failure: true
  script:
    - *python_init
    - pip install isort
    - isort .
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

black:
  stage: Static Analysis
  #allow_failure: true
  script:
    - *python_init
    - pip install black
    - black .
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

pymcac_tests:
  stage: Test
  script:
    - *python_init
    - pip install pytest
    - export PYTHONPATH="$PYTHONPATH:."
    - python -c "import sys;print(sys.path)"
    - pytest
  only:
    changes:
      - pymcac/**/*
  needs: ["build-Release"]
  dependencies:
    - build-Release

Polydispersity of nucleation in time is different from initial.
  include/physical_model/physical_model.hpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Nucleation independent polydispersity implemented.
  include/aggregats/aggregat.hpp
  src/aggregats/aggregat.cpp
  src/aggregats/aggregat_list.cpp
Due: cpplint, cppcheck

Nucleation as a mass flux is now possible
  include/physical_model/physical_model.hpp
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Show parameters of nucleation
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

Nucleation polydispersity and mean values can be defined.
  src/aggregats/aggregat.cpp
Due: cpplint, cppcheck

Show parameters nucleation
  src/physical_model/physical_model.cpp
Due: cpplint, cppcheck

import gitlab-ci and linters from arbalete
  .docker/Dockerfile.gfortran
  .docker/Dockerfile.ifort
  .docker/Dockerfile.local
  .docker/HDF5options.cmake
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .gitlab/MCAC.yml
  .gitlab/pyMCAC.yml
  .gitlab/static.yml
  .gitlab/tests.yml
  .hadolint.yml
  cmake-format.py
  pyproject.toml
  requirements.txt
  utilities/all_linters.sh
  utilities/test_in_docker.sh
  utilities/update_docker.sh
Due: none

put back shell linters
  .docker/Dockerfile.local
  .gitlab/static.yml
Due: none

cmake linter
  CMakeLists.txt
  cmake/FindUnwind.cmake
  cmake/FindXdmf.cmake
  cmake/PyMCAC.cmake
  cmake/cgal/CGAL_GeneratorSpecificSettings.cmake
  cmake/cgal/FindGMP.cmake
  cmake/cgal/FindMPFR.cmake
  utilities/all_linters.sh
Due: none

shell linter
  utilities/test_in_docker.sh
Due: none

python linter
  .gitlab/static.yml
  pymcac/__init__.py
  pymcac/plot/__init__.py
  pymcac/plot/projection.py
  pymcac/plot/volumic.py
  pymcac/reader/h5_reader.py
  pymcac/reader/mcac_reader.py
  pymcac/reader/xdmf_reader.py
  pymcac/tests/generator.py
  pymcac/tests/test_dask.py
  pymcac/tests/test_data.py
  pymcac/tests/test_groupby.py
  pymcac/tests/test_sortby.py
  pymcac/tools/__init__.py
  pymcac/tools/autocorrelation/__init__.py
  pymcac/tools/autocorrelation/autocorrelation3d.py
  pymcac/tools/core/__init__.py
  pymcac/tools/core/dask_tools.py
  pymcac/tools/core/dataframe.py
  pymcac/tools/core/groupby.py
  pymcac/tools/core/sorting.py
  pymcac/tools/coverage/__init__.py
  pymcac/tools/coverage/_coverages.py
  pymcac/tools/coverage/coverages_cython.pyx
  pymcac/tools/discretize/__init__.py
  pymcac/tools/discretize/_discretize.py
  pymcac/tools/inertia/__init__.py
  pymcac/tools/inertia/_inertia.py
  pymcac/tools/physics/__init__.py
  pymcac/tools/physics/mobility_diameter.py
  pymcac/tools/physics/overlap.py
  pymcac/tools/volume_surface/__init__.py
  pymcac/tools/volume_surface/_volume_surface.py
  pymcac/writer/__init__.py
  pymcac/writer/ddscat.py
  pyproject.toml
  setup.cfg
  setup.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

add clang-format in all_linters
  utilities/all_linters.sh
Due: none

more python linter
  examples/blender.py
  validation/brownian.py
Due: none

fix cmake linters
  .gitlab/static.yml
  utilities/all_linters.sh
Due: none

more python linter
  examples/blender.py
  pymcac/plot/projection.py
  pymcac/plot/volumic.py
  pymcac/tools/autocorrelation/autocorrelation3d.py
  pymcac/tools/coverage/_coverages.py
  pymcac/tools/discretize/_discretize.py
  pymcac/tools/inertia/_inertia.py
  pymcac/writer/ddscat.py
  pyproject.toml
  setup.py
  validation/brownian.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

add missing xarray dependency
  .docker/Dockerfile.gfortran
  .docker/Dockerfile.ifort
  requirements.txt
Due: none

allow cpplinters to fail
  .gitlab/static.yml
Due: none

fix pytests
  pymcac/tests/generator.py
  pymcac/tests/test_dask.py
  pymcac/tests/test_groupby.py
  pymcac/tools/core/groupby.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

update rependencies
  .docker/Dockerfile.gfortran
  .docker/Dockerfile.ifort
  requirements.txt
Due: none

testing xarray -> dataframe
  pymcac/tests/test_dask.py
  pymcac/tests/test_dataframe.py
  pymcac/tests/test_sortby.py
  pymcac/tools/core/dask_tools.py
  pymcac/tools/core/dataframe.py
  pymcac/tools/core/groupby.py
  pymcac/tools/core/sorting.py
  pyproject.toml
  requirements.txt
Due: mypy, flake8, pylint, isort, black, pymcac_tests

testing dataframe -> xarray
  pymcac/tests/test_dataframe.py
  pymcac/tools/core/dataframe.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

fix reader
  pymcac/reader/h5_reader.py
  pymcac/reader/mcac_reader.py
  pymcac/tests/test_data.py
  pymcac/tests/test_read.py
  pymcac/tools/core/dask_tools.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

automatic coverage
  pyproject.toml
Due: none

gitlab-ci: compute some data for pytest
  .gitlab/tests.yml
Due: none

forgot params_pytest
  validation/params_pytest.ini
Due: none

lint
  pymcac/__init__.py
  pymcac/reader/h5_reader.py
  pymcac/reader/mcac_reader.py
  pymcac/tests/test_data.py
  pymcac/tests/test_dataframe.py
  pymcac/tests/test_read.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

read advancement file
  pymcac/reader/advancement_reader.py
  pymcac/reader/h5_reader.py
  pymcac/reader/mcac_reader.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

rework groubpy through dataframe pytests are working
  pymcac/__init__.py
  pymcac/tests/test_groupby.py
  pymcac/tools/__init__.py
  pymcac/tools/core/__init__.py
  pymcac/tools/core/dataframe.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

brownian validation is working again
  validation/brownian.ipynb
Due: none

linter
  pymcac/tests/test_groupby.py
  pymcac/tools/core/dataframe.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

advancement is read with pandas (not dask) and repetitions are removed
  pymcac/reader/advancement_reader.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

rework the reader in order to filter the data while reading
  pymcac/reader/h5_reader.py
  pymcac/reader/mcac_reader.py
  pymcac/tests/test_read.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

update requirements
  requirements.txt
Due: none

linter
  pymcac/__init__.py
  pymcac/reader/h5_reader.py
  pymcac/reader/mcac_reader.py
  pymcac/tests/test_read.py
  pymcac/tools/__init__.py
  pymcac/tools/core/dask_tools.py
  pymcac/tools/core/dataframe.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

no_surface_reaction calidation notebook is working
  validation/no_surface_reaction.ipynb
Due: none

Compute BoxVolume from initial values if not available elsewhere
  pymcac/reader/mcac_reader.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

fix overlap computation
  pymcac/tools/physics/overlap.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests

surface growth validation test case is working
  validation/Surface_growth.ipynb
  validation/no_surface_reaction.ipynb
  validation/params_surface_growth.ini
Due: none

add vscode and update gitignore
  .gitignore
  .vscode/c_cpp_properties.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

remove brownian.py
  validation/brownian.py
Due: none
