Repository giraldeau/MCAC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mypy, flake8, pylint, isort, black, pymcac_tests, cpplint, cppcheck, cmake-format, cmake-lint, shell check, shfmt, pytest_data

mypy:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install mypy
  - mypy
  needs:
  - build-Release
  dependencies:
  - build-Release

flake8:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install flake8
  - flake8
  needs:
  - build-Release
  dependencies:
  - build-Release

pylint:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install pylint
  - pylint -d C0301 bild/*.py
  needs:
  - build-Release
  dependencies:
  - build-Release

isort:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install isort
  - isort .
  needs:
  - build-Release
  dependencies:
  - build-Release

black:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install black
  - black .
  needs:
  - build-Release
  dependencies:
  - build-Release

pymcac_tests:
  stage: Test
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install pytest
  - export PYTHONPATH="$PYTHONPATH:."
  - python -c "import sys;print(sys.path)"
  - pytest
  needs:
  - build-Release
  ...

cpplint:
  image: gitlab.univ-rouen.fr:4567/coria/archer/arbalete:mcac-gitlab-ci-gfortran
  stage: Static Analysis
  before_script:
  - echo "dockerfile_version=${dockerfile_version}"
  script:
  - cpplint --recursive src include
  needs: []

cppcheck:
  image: gitlab.univ-rouen.fr:4567/coria/archer/arbalete:mcac-gitlab-ci-gfortran
  stage: Static Analysis
  before_script:
  - echo "dockerfile_version=${dockerfile_version}"
  script:
  - pip install -U  cppcheck
  - cppcheck --enable=all --inconclusive -I include src
  needs: []

cmake-format:
  image: cheshirekow/cmake-format
  stage: Static Analysis
  script:
  - pip install -U cmakelang
  - cmake-format --check CMakeLists.txt cmake/**/*.cmake
  needs: []

cmake-lint:
  image: cheshirekow/cmake-format
  stage: Static Analysis
  script:
  - pip install -U cmakelang
  - cmake-lint CMakeLists.txt cmake/**/*.cmake
  needs: []

shell check:
  image: koalaman/shellcheck-alpine:stable
  stage: Static Analysis
  before_script:
  - shellcheck --version
  script:
  - shellcheck utilities/*.sh
  needs: []

Total surface area is now available in Aggregat List.
  include/physical_model/physical_model.hpp
  src/aggregats/aggregat_list.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Total surface area/volume introduced.
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Update physical model when domain is duplicated.
  src/aggregats/aggregat_list.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Update physical model consider total volume/surface.
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Update flame coupling to surface growth rate flux.
  include/physical_model/physical_model_flame_coupling.hpp
  src/physical_model/physical_model_flame_coupling.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Total surface area and volume determined at initialization.
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Surface growth rate calculated accordingly.
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

better output (more readable)
  include/calcul.hpp
  src/calcul.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

implement domain reduction (like domain duplication)
  include/aggregats/aggregat_list.hpp
  include/physical_model/physical_model.hpp
  src/aggregats/aggregat_list.cpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

restore correct rate of nucleation
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

the reduction/duplication are fixed in time
  src/calcul.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Export results at constant Delta_t
  include/physical_model/physical_model.hpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Updated alpha_s to improve accuracy
  src/aggregats/aggregat.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Corrected aggregate center of mass
  src/aggregats/aggregat.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Better double conversion
  src/aggregats/aggregat.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

Added a note for alphas
  src/aggregats/aggregat.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

rework pymcac installation process
  pyproject.toml
  setup.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests, cpplint, cppcheck, pytest_data

update python dependencies
  setup.cfg
Due: none

fix a typo in sbl
  src/sbl/volume_surface.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

update settings.json
  .vscode/settings.json
Due: none

fix gitlab-ci
  .gitlab/tests.yml
Due: none

update vscode-configuration
  .vscode/extensions.json
  .vscode/settings.json
Due: none

cmake should not install numpy and upgrade all
  cmake/PyMCAC.cmake
Due: pymcac_tests, cmake-format, cmake-lint, pytest_data

cmake should install the `complete` dependencies of pymcac
  cmake/PyMCAC.cmake
Due: pymcac_tests, cmake-format, cmake-lint, pytest_data

update dependencies
  README.md
  requirements-intel.txt
  requirements.txt
  setup.cfg
Due: none

configure linters
  pyproject.toml
Due: mypy, flake8, pylint, isort, black, pymcac_tests, cpplint, cppcheck, pytest_data

sbl is not required anymore for pymcac
  setup.py
Due: none

add pre-commit
  .pre-commit-config.yaml
  .pre-commit-config_more.yaml
Due: none

fix encoding of some docs
  docs/Guide installation DLCA.txt
  docs/Notice installation OpenCV avec Qt.txt
Due: none

update gitlab-co for pre-commit
  .gitlab/static.yml
Due: mypy, flake8, pylint, isort, black, cpplint, cppcheck, cmake-format, cmake-lint, shell check, shfmt

Reverted correction factors for alpha_s
  src/aggregats/aggregat.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

linter
  .clang-format
  include/physical_model/physical_model.hpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

simplify the `time_to_write` logic in a dedicated function
  include/physical_model/physical_model.hpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

more conditions for stopping a simulation
  include/physical_model/physical_model.hpp
  src/calcul.cpp
  src/physical_model/physical_model.cpp
Due: pymcac_tests, cpplint, cppcheck, pytest_data

update pre-commit
  .gitlab/static.yml
  .pre-commit-config.yaml
  .pre-commit-config_more.yaml
Due: mypy, flake8, pylint, isort, black, cpplint, cppcheck, cmake-format, cmake-lint, shell check, shfmt

Update .gitlab/tests.yml
  .gitlab/tests.yml
Due: none

fix numpy version pinning
  pyproject.toml
Due: mypy, flake8, pylint, isort, black, pymcac_tests, cpplint, cppcheck, pytest_data

Path conditions:
  mypy: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  flake8: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  pylint: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  isort: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  black: (any of: pymcac/**/*) or (any of: pymcac/**/*.py, validation/**/*.py, examples/**/*.py, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  pymcac_tests: (any of: pymcac/**/*) or (any of: src/**/*, include/**/*, cmake/**/*, CMakeLists.txt, pymcac/**/*, .gitlab/test.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  cpplint: any of: src/**/*, include/**/*, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran
  cppcheck: any of: src/**/*, include/**/*, .gitlab/static.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran
  cmake-format: any of: cmake/**/*.cmake, CMakeLists.txt, .gitlab/static.yml, .gitlab-ci.yml
  cmake-lint: any of: cmake/**/*.cmake, CMakeLists.txt, .gitlab/static.yml, .gitlab-ci.yml
  shell check: any of: utilities/**/*.sh, .gitlab/static.yml, .gitlab-ci.yml
  shfmt: any of: utilities/**/*.sh, .gitlab/static.yml, .gitlab-ci.yml
  pytest_data: any of: src/**/*, include/**/*, cmake/**/*, CMakeLists.txt, pymcac/**/*, .gitlab/test.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran
