Repository giraldeau/MCAC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mypy, flake8, pylint, isort, black, pymcac_tests, pytest_data

mypy:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install mypy
  - mypy
  needs:
  - build-Release
  dependencies:
  - build-Release

flake8:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install flake8
  - flake8
  needs:
  - build-Release
  dependencies:
  - build-Release

pylint:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install pylint
  - pylint -d C0301 bild/*.py
  needs:
  - build-Release
  dependencies:
  - build-Release

isort:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install isort
  - isort .
  needs:
  - build-Release
  dependencies:
  - build-Release

black:
  stage: Static Analysis
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install black
  - black .
  needs:
  - build-Release
  dependencies:
  - build-Release

pymcac_tests:
  stage: Test
  script:
  - - pwd
    - ls -l
    - python3 -V
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pip install .
  - pip install pytest
  - export PYTHONPATH="$PYTHONPATH:."
  - python -c "import sys;print(sys.path)"
  - pytest
  needs:
  - build-Release
  ...

pytest_data:
  image: gitlab.univ-rouen.fr:4567/coria/archer/arbalete:mcac-gitlab-ci-gfortran
  stage: Run
  before_script:
  - echo "dockerfile_version=${dockerfile_version}"
  script:
  - cd validation
  - ../bin/Debug/MCAC params_pytest.ini
  artifacts:
    paths:
    - validation/pytest_data
  needs:
  - gfortran-Debug
  ...

little fixes in autocorrelation
  pymcac/tools/autocorrelation/_autocorrelation3d.py
  pymcac/tools/discretize/_discretize.py
  pymcac/tools/volume_surface/_volume_surface.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests, pytest_data

major optimisation in discretization
  pymcac/tools/discretize/_discretize.py
  pymcac/tools/volume_surface/_volume_surface.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests, pytest_data

silence xdmf warning during install
  CMakeLists.txt
Due: pymcac_tests, pytest_data

remove dependency to numpy.distutils
  pyproject.toml
  setup.py
Due: pymcac_tests, pytest_data

prepare for future pandas behavior change
  pymcac/tests/test_data.py
  pymcac/tests/test_groupby.py
Due: mypy, flake8, pylint, isort, black, pymcac_tests, pytest_data

update pip in gitlab
  .gitlab/tests.yml
Due: none

try to fix dependency issues in requirements.txt
  .gitlab/tests.yml
  requirements.txt
Due: none

Path conditions:
  mypy: any of: pymcac/**/*
  flake8: any of: pymcac/**/*
  pylint: any of: pymcac/**/*
  isort: any of: pymcac/**/*
  black: any of: pymcac/**/*
  pymcac_tests: (any of: pymcac/**/*) or (any of: src/**/*, include/**/*, cmake/**/*, CMakeLists.txt, pymcac/**/*, .gitlab/test.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran)
  pytest_data: any of: src/**/*, include/**/*, cmake/**/*, CMakeLists.txt, pymcac/**/*, .gitlab/test.yml, .gitlab-ci.yml, pyproject.toml, .docker/Dockerfile.gfortran
